/* COLORS */
$color-primary: #154f3c;
$color-white: #fff;
$color-black: #000;
$color-yellow: #f7e403;

$color-gray: #666;
$color-gray-dark: #222;

/* FONTS */
$font-primary: 'Roboto', sans-serif;

/* BREAKPOINTS */
$media-sm: 767px;
$media-md: 992px;
